<!-- Displaying page <#page#> -->
<p>Showing items <#offset#> - <#end_item#> of <#items.length#> total.</p>
<ul>
<~{<#offset#>,<#limit#>} <`
  <li>
    <strong><#name#></strong> (User ID: <#id#>)
    <~<+><`<span class="admin-view"> - IP: <#last_ip#></span>`><?<#show_admin_details#>?>~>
  </li>
`> <*><[items]>~>
</ul>
